body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(39, 38, 38);
}

h1 {
    color: rgb(24, 51, 87);
    font-family: 'Courier New', Courier, monospace;
}

.button-container {
    padding: 8px 0px;
}

.score-board{
    display: flex;
    gap: 25px;
    padding: 8px 0px;
}

.new-game-container {
    padding: 8px 0px;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px;
}

button {
    font-size: medium;
    background-color: rgb(24, 51, 87);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
}

.button-container button {
    font-size: large;
    height: 120px;
    width: 120px;
    
}

button p {
    font-size: 40px;
    margin: 8px;
}